<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Student Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>My Enrolled Courses</h2>

  <div *ngIf="enrolledCourses.length === 0">
    <p>You are not currently enrolled in any courses. Explore <a routerLink="/courses">all courses</a> to find one!</p>
  </div>

  <ion-list *ngIf="enrolledCourses.length > 0">
    <ion-item *ngFor="let course of enrolledCourses" (click)="viewCourse(course.id)" detail>
      <ion-thumbnail slot="start">
        <img [src]="course.cover" alt="Course Cover">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ course.title }}</h2>
        <p>{{ course.author }} - {{ course.category }}</p>
        <p>Rating: {{ course.rating }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
