<ion-item *ngFor="let course of enrolledCourses">

  <ion-label>
    <h2>{{ course.title }}</h2>
    <p>{{ course.category }}</p>

    <!-- ✅ capture sécurisée -->
    <ng-container *ngIf="course.id as cid">

      <div *ngIf="getProgressForCourse(cid)" class="progress-info">
        <ion-progress-bar
          [value]="getProgressForCourseSafe(cid).overallProgress / 100"
          [color]="getProgressColor(getProgressForCourseSafe(cid).overallProgress)">
        </ion-progress-bar>

        <p>
          Progress: {{ getProgressForCourseSafe(cid).overallProgress }}%
        </p>
      </div>

      <ion-button (click)="viewCourse(cid)" fill="clear">
        <ion-icon name="book-outline"></ion-icon>
      </ion-button>

      <ng-container *ngFor="let module of (course.modules || [])">

        <ng-container *ngIf="module.quiz?.id as qid">

          <ion-button
            *ngIf="canTakeQuiz(cid, qid)"
            (click)="takeQuiz(cid, qid)"
            size="small"
            fill="outline">
           {{ module.quiz?.title }}

          </ion-button>

          <ion-button
            *ngIf="isQuizCompleted(cid, qid)"
            size="small"
            fill="outline"
            color="success"
            disabled>
            {{ module.quiz?.title }} ({{ getQuizScore(cid, qid) }}%)

          </ion-button>

        </ng-container>

      </ng-container>

      <ng-container *ngIf="course.finalQuiz?.id as fqid">

        <ion-button
          *ngIf="canTakeQuiz(cid, fqid)"
          (click)="takeQuiz(cid, fqid)"
          color="warning"
          size="small">
          Final Exam
        </ion-button>

        <ion-button
          *ngIf="isQuizCompleted(cid, fqid)"
          color="success"
          size="small"
          disabled>
          Final Exam ({{ getQuizScore(cid, fqid) }}%)
        </ion-button>

      </ng-container>

    </ng-container>
  </ion-label>

</ion-item>
