<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Teacher Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToUpload()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>My Courses</h2>

  <div *ngIf="teacherCourses.length === 0">
    <p>You haven't created any courses yet. Click the '+' button above to create one!</p>
  </div>

  <ion-list *ngIf="teacherCourses.length > 0">
    <ion-item *ngFor="let course of teacherCourses">
      <ion-label>
        <h3>{{ course.title }}</h3>
        <p>{{ course.description }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="viewCourse(course.id)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="editCourse(course.id)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteCourse(course.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
