<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Enrolled Courses</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/dashboard" routerDirection="root" detail>
          <ion-label>Dashboard</ion-label>
        </ion-item>
        <ion-item routerLink="/enrollments" routerDirection="root" detail>
          <ion-label>Enrollments</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>