ion-item {
  --inner-padding-end: 0;
  --padding-start: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  ion-thumbnail {
    width: 100px;
    height: 100px;
  }
}
